@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #0a0a0a; 
}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border: 2px solid #0a0a0a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #404040;
}

::-webkit-scrollbar-corner {
  background-color: #0a0a0a;
}

.titlebar-drag {
  -webkit-app-region: drag;
}

.titlebar-no-drag {
  -webkit-app-region: no-drag;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}